:root {
  --left-side-witdh: 30vw;
  --right-side-witdh: calc(100vw - var(--left-side-witdh));
  --primary-dark: rgb(16, 24, 16);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

/*_______________START_LEFT__________________*/
@font-face {
  font-family: "norsebold";
  src: url("./assets/Norse-Bold.otf");
}

.left {
  width: var(--left-side-witdh);
  height: 100vh;
  background-image: url(./assets/cedric-letsch-t49vJ2_Jlq8-unsplash.jpg);
  background-size: cover;
}

.logo {
  width: 100%;
  height: 15%;

  background-color: black;
  opacity: 0.6;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 20vh;
}

.logo>img {
  height: 100%;
}

.logo>.logo-text {
  font-size: 5rem;
  color: white;
  font-family: "norsebold";
}

.left>.credit {
  position: relative;
  top: 80vh;

  display: flex;
  justify-content: center;
}

.credit a {
  color: white;
  text-decoration: none;
}

/*_______________END_LEFT__________________*/


.right {
  width: var(--right-side-witdh);
  background-color: rgb(164, 182, 176);
}

.right .introduction {
  height: 30vh;
  width: 70ch;
  font-size: 1.5rem;
  padding: 4rem 3rem;
}
.right form > * {
  padding: 1rem 3rem;
}
form > .top {
  margin-bottom: 1rem;
  box-shadow: 0px 0rem 1rem 4px rgba(0, 0, 0, 0.4);
  background-color: rgb(176, 174, 174);
}
form > .top > div{
  display: flex; 
}
form legend {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
input {
  all: unset;
}
form input {
  border-radius: 0.4rem;
  height: 1.5rem;
  border: 1px solid #ccc;
  border-color: blue;
  background-color: whitesmoke;

  padding: 0.5rem;
  transition: box-shadow 0.3s; 
  transition: border-color 0.5s;
}
input:focus {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  border-color: blue;
}

form .names input:valid,
form .contacts input:valid {
  border-color: green;
}
input:invalid:not(:focus):not(:placeholder-shown),
input:focus:invalid:not(:placeholder-shown) {
  outline: none;
  border-color: red;
}
.passwordMismatch {
  border-color: red;
}
.passwordMatch {
  border-color: green;
}
#passwordMismatchMsg {
  color: rgb(156, 40, 40);
  display: none; 
}
.passwordMismatchMsg {
  height: 1rem;
}
.defaultMismatchMsg {
  display: none;
}
.showMismatchMsg {
  display: block;
}
.hideMismatchMsg {
  display: none;
}

form .createButton {
  padding: 1rem;
  width: 15rem;
  border-radius: 0.5rem;

  background-color: var(--primary-dark);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  color: #ccc;
}

form .cta {
  font-size: 1rem;
  font-weight: bold;
}

a.cta {
  text-decoration: none;
  color: var(--primary-dark);
}

.label-input {
  display: flex;
  flex-direction: column; 
  margin-right: 3rem;
  margin-bottom: 1rem;
  width: 16rem;
} 



